* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #c8c6c6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #211915;
}

h1 {
    /* width: 100%; */
    position: absolute;
    top: 20px;
    left: 250px;
    /* text-align: center; */
    font-size: 60px;
    color: #f8e12e;
    -webkit-text-stroke: 2px red;
}

.logo {
    width: 200px;
    margin: 20px;
    transition: .5s;
}

.logo:hover {
    transform: scale(1.2);
}

.leyendaHeader {
    font-size: 30px;
    color: #211915;
    padding-top: 3px;
    position: absolute;
    left: 47%;
}

.barraNav {
    background: linear-gradient(#211915, #5fa199 25%);
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #211915;
    display: flex;
}

.links {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    color: azure;
}

.links:hover {
    text-decoration: 2px underline crimson;
    color: #f8e12e;
}

.image-flex {
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen1, .imagen2 {
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #211915;
}

.fijarImagenes {
    position: sticky;
    top: 150px;
}

/* === main === */
.main-flex {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.main-game_info {
    flex-wrap: wrap;
}

.main-show-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.title-show-data {
    margin-bottom: 20px;
}

/* === div's con flex === */
.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 60%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
}

.div-flex-index {
    height: 300px;
    margin-bottom: 150px;
}

.div-flex-about  {
    height: 500px;
}

.div-flex-game_info {
    height: 500px;
}

.contacto-game_info {
    display: flex;
    justify-content: space-between;
}

.div-flex-rules {
    height: 1000px;
}

.div-flex-reg {
    height: 1200px;
}

.div-flex-contact {
    justify-content: flex-start;
    height: 450px;
}

.div-flex-contact>p {
    margin-bottom: 20px;
}
/* =============================== */

.identacion {
    text-indent: 30px;
}

.centrarH2 {
    text-align: center;
}

.bottomH3 {
    margin-bottom: 20px;
}

p, label, li {
    font-size: 18px;
}

/* === listas === */
.olConLetra {
    list-style-type: lower-latin;
}

ol, ul {
    list-style-position: inside;
    padding-left: 0;
}

.margenLista-rules {
    margin-bottom: 15px;
}

span {
    font-weight: bold;
}

.styleCircle-rules {
    list-style-type: circle;
    padding-left: 40px;
}

/* === tablas === */
table {
    border-radius: 10px;
    background-color: #bdc4bd;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 0 10px;
}

/* === mapa === */
.mapa {
    margin: 50px 10px 10px;
}

.linkMap {
    text-decoration: none;
    color: black;
}

.linkMap:hover {
    color: #5fa199;
}

.linkBack {
    text-decoration: none;
    color: gray;
    font-size: small;
}

iframe {
    border-radius: 5px;
    box-shadow: 5px 5px 20px #211915;
}
iframe:hover {
    box-shadow: 0 0 20px #5fa199;
}

/* === Form === */
fieldset {
    background-color: #bdc4bd;
    border-radius: 10px;
}
.flex-form-reg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div-school-reg {
    margin-left: 10%;
}

.addressForm {
    width: 70%;
    min-width: 170px;
}

.widthAddrees {
    width: 90%;
}

.widthInput {
    width: 170px;
}

.marginInput-reg {
    margin: 4px 0;
}

.marginRigth-reg {
    margin-right: 8%;
}

.flex-posPlay-reg {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.width-PosPlay-reg {
    width: 145px;
}

select {
    overflow: auto;
    border-radius: 5px;
}

.flex-sign-reg {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submitStyle {
    display: block;
    margin: 5px auto;
    padding: 5px 15px;
    font-size: 20px;
    background-color: #211915;
    color: #5fa199;
    border-radius: 5px;
    border: none;
    transition: 500ms;
}
.submitStyle:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #00ffe1
}

/* Footer */
.footer {
    height: 100px;
    background: linear-gradient(#5fa199 32%, #211915 42%);
    border-top: 1px solid #211915;
    text-align: center;
    color: azure;
}

.footer p {
    padding-top: 55px;
}

/* !Responsividad */
@media only screen and (max-width: 1440px) {
    .leyendaHeader {
        font-size: 25px;
        top: 285px;
        text-align: center;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 1150px) {
    h1 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 865px) {
    h1 {
        width: 365px;
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 475px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        position: static;
        font-size: 24px;
        -webkit-text-stroke: 1px red;
        margin-bottom: 5px;
    }
    
    .logo {
        margin: 0;
    }
    
    .logo:hover {
        transform: none;
    }
    
    .leyendaHeader {
        /* position: absolute; */
        font-size: 20px;
        top: 415px;
        left: auto;
        right: auto;
    }

    .barraNav {
        flex-direction: column;
    }

    .main-flex {
        flex-direction: column;
    }

    .imagen1, .imagen2 {
        width: 320px;
    }

    .image-flex {
        height: 390px;
        align-items: center;
    }
    
    .div-flex-index {
        justify-content: space-evenly;
        align-self: center;
        width: 80%;
        margin-bottom: 50px;
        text-align: center;
    }

    .identacion {
        text-indent: 0;
    }
}




/* @media only screen and (max-width: 475px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        position: static;
        font-size: 24px;
        -webkit-text-stroke: 1px red;
        margin-bottom: 5px;

    }
    
    .logo {
        margin: 0;
    }
    
    .logo:hover {
        transform: none;
    }
    
    .leyendaHeader {
        position: absolute;
        font-size: 20px;
        top: 415px;
        left: auto;
        right: auto;
    }

    .barraNav {
        flex-direction: column;
    }

    .main-flex {
        flex-direction: column;
    }

    .imagen1, .imagen2 {
        width: 320px;
    }

    .image-flex {
        height: 390px;
        align-items: center;
    }
    
    .div-flex-index {
        justify-content: space-evenly;
        align-self: center;
        width: 80%;
        margin-bottom: 50px;
        text-align: center;
    }

    .identacion {
        text-indent: 0;
    }
} */